body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px; /* Ajout d'un espacement pour éviter les débordements */
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 5%; /* Espacement interne relatif */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%; /* Largeur relative */
    max-width: 300px;
    font-size: 1rem; /* Taille de police relative */
}

.login-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 1%; /* Espacement interne relatif */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem; /* Taille de police relative */
}

.login-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1%; /* Espacement interne relatif */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Taille de police relative */
}

.login-container button:hover {
    background-color: #0056b3;
}