<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Médiathèque</title>
    <link rel="stylesheet" href="../styles/mediatheque.css">
    <style>
        .top-right-buttons {
            position: fixed;
            top: 10px;
            right: 10px;
        }
        .top-right-buttons button {
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <div class="top-right-buttons">
        <button onclick="window.location.href='./signup.html'" id="signupBtn">S'inscrire</button>
        <button onclick="window.location.href='./login.html'" id="loginBtn">Se connecter</button>
        <button onclick="window.location.href='./profile.html'" id="profileBtn" style="display: none;">Profil</button>
    </div>
    <img src="../../assets/logo.png" alt="Logo" class="logo">
    <div class="search-container">    
        <label for="query">Recherche</label>
        <input type="text" id="query" placeholder="Rechercher un livre" />
        <button id="searchBtn">Rechercher</button>
        <p id="result-count" class="result-count-box hidden"></p>  
        <div class="hint"></div>
    </div>
    <script src="../utils/mediatheque.js"></script>
    <script>
        // Vérifie si l'utilisateur est connecté
        const currentUser = JSON.parse(localStorage.getItem('currentUser'));
        if (currentUser) {
            document.getElementById('profileBtn').style.display = 'inline-block';
            document.getElementById('signupBtn').style.display = 'none';
            document.getElementById('loginBtn').style.display = 'none';
        }
    </script>
</body>
</html>